.meowvies {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 150px;
  width: 250px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 155%;
}

.card-title {
  display: none;
}

img {
  width: 150%;
  height: 150%;
}
